/* CardSlider.module.css */



.arrowBtn{
    border-radius: 32px;
    padding-inline: 1.2rem;
    padding-block: .2rem;
    border: #D49F15 solid 2px;
  
}
.arrowBtn:first-of-type{
    border: #D49F15 solid 2px;
   
   
}
.arrowBtn+p{
    color: #111;
    font-weight: 600;
    margin: 0;
    margin-inline: 1.2rem;
}
.arrowBtn+p span:first-child{
 
    font-weight: 800;
    font-size: 1.1rem;
}

  
  /* General styling */
  .textCenter {
    text-align: center;
  }
  
  .container {
    overflow: hidden;
    padding: 10px;
  }
  
  /* Card slider styling */
  .cardSlider {
    width: 38.5rem;
    position: relative;
    overflow: visible;
    margin: 0 auto;
   margin-bottom: 1.3rem;
  }
  
  .cardSliderList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none;
    cursor: grab;
    transition: transform 0.5s ease-in-out;
  }
  
  .cardSliderCard {
    width: fit-content;
    display: inline-block;
    position: relative;
    transform: scale(0.8);
    z-index: 1;
    flex-shrink: 0;
    margin-right: 0%;
    opacity: 0.5;
     transition: all .5s; 
  
    &.active-out {
      animation: activeOutLeft 0.5s ease-in-out;
  
      .active-in ~ & {
        animation: activeOutRight 0.5s ease-in-out;
      }
    }
  
    .active ~ & {
      margin-left: 0%;
      margin-right: 0;
    }
  
    &.active {
      transform: scale(1);
      z-index: 3;
      margin: 0;

      opacity: 1;
    }
  
    &.active-in {
      animation: activeInLeft 0.5s ease-in-out;
  
      .active-out ~ & {
        animation: activeInRight 0.5s ease-in-out;
      }
    }
  }
  
  /* Keyframe animations */
  :global {
    @keyframes activeInRight {
      0% {
        transform: scale(0.8);
        z-index: 2;
      }
      50% {
        transform: translateX(20%) scale(0.9);
        z-index: 3;
      }
      100% {
        transform: translateX(0) scale(1);
      }
    }
  
    @keyframes activeOutLeft {
      0% {
        transform: scale(1);
        z-index: 3;
      }
      50% {
        transform: translateX(-20%) scale(0.9);
        z-index: 2;
      }
      100% {
        transform: translateX(0) scale(0.8);
      }
    }
  
    @keyframes activeInLeft {
      0% {
        transform: scale(0.8);
        z-index: 2;
      }
      50% {
        transform: translateX(-20%) scale(0.9);
        z-index: 3;
      }
      100% {
        transform: translateX(0) scale(1);
      }
    }
  
    @keyframes activeOutRight {
      0% {
        transform: scale(1);
        z-index: 3;
      }
      50% {
        transform: translateX(20%) scale(0.9);
        z-index: 2;
      }
      100% {
        transform: translateX(0) scale(0.8);
      }
    }
  }
  