.image-upload-form {
  display: flex;
  border: 1px solid black;
  gap: 16px;
  padding: 32px 64px;
  justify-content: center;
  width: fit-content;
}

.upload-container {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.upload-input-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  color: red;
  border-radius: 50%;
  padding: 2px 8px !important;
  height: auto;
  padding: 0;
}

.upload-container img {
  width: 100%;
  height: auto;
  display: block;
}

.upload-input {
  opacity: 10;
}
